{% extends 'layouts/sub_base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
</head>
<body>

    <h1>
        Welcome to the Jobply.com

    </h1>
    <h2>
        Welcome to jobply.com, the largest locally focused employment website in the nation! Our mission is to lead the Internet employment industry in Nepal by providing innovative information, superior resume management software and a comprehensive selection of services.
    Jobply.com offers services to the recruiting and job-seeking community in Nepal. We are the only recruitment service provider with 100% free service to all the jobseekers.
    It is our mission to bring the burgeoning Nepalese Internet and computing talent to bear on international Web development.
    Jai Nepal!
    </h2>

</body>
</html>
{% endblock %}
